.top {
  height: fit-content;
  padding: 0.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  .name,
  .order {
    border-radius: 1rem;
    padding: 1rem;
    background: var(--clr-background3);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
  }

  .name {
    padding-top: 2rem;
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
      text-transform: uppercase;
      font-weight: 800;
      color: var(--clr-grey) !important;
    }
  }

  h1 {
    width: fit-content;
    padding-left: 1rem;
  }

  input {
    margin: none;
    outline: none;
    border-bottom: 2px solid var(--clr-grey);
    color: var(--clr-grey);
    background: transparent;
    width: 100%;
    height: 2rem;
  }

  textarea {
    padding: 20px;
    margin-left: 10px;
    font-size: 15px;
  }

  ::placeholder {
    text-align: left;
    text-transform: uppercase;
  }

  .row:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .row:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .row:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .row:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .row:nth-child(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .order {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .top {
    display: flex;
    flex-direction: column-reverse !important;
    .order {
      height: fit-content;
    }
  }
}

@media (max-width: 600px) {
  .name {
    grid-template-rows: repeat(6, 1fr) !important;
    grid-template-columns: 1fr !important;

    .row:first-child {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .row:nth-child(2) {
      grid-column: 1/2;
      grid-row: 2/4;
    }

    .row:nth-child(3) {
      grid-column: 1/2;
      grid-row: 4/5;
    }

    .row:nth-child(4) {
      grid-column: 1/2;
      grid-row: 5/6;
    }

    .row:nth-child(5) {
      grid-column: 1/2;
      grid-row: 6/7;
    }
  }
}
