.bottom {
  padding: 0.5rem 2rem;

  label {
    text-align: center;
    text-transform: uppercase;
    margin-block: auto;
    height: 50px;
  }

  input {
    text-align: center;
    border-radius: 10px;
    height: 50px;
    margin-bottom: 10px;
  }

  .payment {
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    background: var(--clr-background);
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }

  .old_gold_wt,
  .advance,
  .refund {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  @media (max-width: 1000px) {
    .old_gold_wt,
    .advance,
    .refund {
      flex-direction: column;
    }
  }

  @media (max-width: 640px) {
    .payment {
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
  }
}
